<!--<header><h1 id="appName">Work.nation</h1></header>-->
<!--<hr/>-->
<!--<section>-->
  <!--<h2>Connect uPort</h2>-->
  <!--<table>-->
    <!--<tbody>-->
      <!--<tr>-->
        <!--<td><span>uPort Id: </span><span id="userUportId"></span></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td><span>Name: </span><span id="name"></span></td>-->
      <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
  <!--<button class="btn btn-sm btn-primary" id="connectUportBtn">Connect uPort</button>-->
<!--</section>-->
